name: "Release"
on: [ workflow_dispatch ]
jobs:
  build-and-release:
    name: Build and Release
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
      - name: If testing with Act, dummy in "gh"
        if: ${{ env.ACT }}
        run: echo -e "echo Right now I would be running \"gh \$@\"" > /usr/local/bin/gh ; chmod +x /usr/local/bin/gh
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.10"
      - name: Checkout
        uses: actions/checkout@v6
      - name: Build
        run: python -m pip install --upgrade pip setuptools wheel build ; python -m build -w
      - name: Create Release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          tag: ${{ github.ref_name }}
        run: gh release create "$tag" --repo="$GITHUB_REPOSITORY" --title="Test release $tag" --generate-notes ; gh release upload "$tag" dist/*.whl
